.about-me{
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  height: 100%;
  gap: 60px;
}

.about-me--info{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;


}

.about-me--info > h1{
  font-size: 4rem;
  color: var(--text-grey-color);
}

.about-me--info > h1::first-line{
  font-size: 3rem;
}

.about-me--info > p{
  text-align: justify;
}

.about-me--img{
  display: flex;
  justify-content: center;
}

.about-me--img > img{
  height: 400px;
  background-image: none;
  border-radius: 30px;
  box-shadow: 6px 5px 95px var(--input-color);

}
.about-me--redirects{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.about-me--links {
  padding: 4px 6px;
  gap: 5px;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--text-grey-color);
  border-color: var(--text-grey-color);
  border-radius: 8px;
  color: var(--text-grey-color);
  justify-content: center;
  align-items: center;
  box-shadow: -6px -5px 15px var(--input-color);
  
}

.about-me--links:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.about-me--links > img{
  width: 25px;
}

@media (max-width: 900px) {
  .about-me{
    display: flex;
  }
  .about-me--img{
    display: none;
  }
  .about-me--info{
    margin: 0;
    gap:40px;
  }
}

@media (max-width: 450px) {
  .about-me{
    margin:100px 10px;
  }
  .about-me--info > h1::first-line{
    font-size: 2rem;
  }
  .about-me--info > h1{
    font-size: 3rem;
  }
  
}
