.header{
  width: 100%;
  padding: 10px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  z-index: 50;
  background-color: var(--background-color);
}

.sections-links{
  display: flex;
  gap: 20px;
}

.sections-links > a{
  cursor: pointer;
  text-decoration: none;
  color: var(--text-grey-color);
}

@media (max-width: 650px) {
  .sections-links{
    display: none;
    /* gap: 20px; */
  }
  
}