.projects-container {
  padding: 60px 5%;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 20px 0 ;
}

.projects-list--item {
  border: 2px solid var(--input-color);
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 5px 5px 9px var(--input-color);
}

.projects-list--info {
  position: relative;
}

.projects-list--info > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.projects-list--links {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.projects-list--links:hover {
  background-color: rgba(0, 0, 0, 0.658);
  opacity: 1;
  border-radius: 10px;
}

.projects-list--links > a {
  text-decoration: none;
  color: var(--text-grey-color);
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.705);
}

.projects-list--links > a > img {
  width: 40px;
  margin-bottom: 5px;
}

.projects-langs {
  display: flex;
  gap: 8px;
  justify-content: end;
  margin-right: 10px;
}

.tag-lang {
  padding: 4px;
  border-radius: 4px;
  font-weight: 900;
}

.html {
  background-color: var(--html-color);
}
.css {
  background-color: var(--css-color);
}
.javascript {
  background-color: var(--javascript-color);
  color: black;
}
.react {
  background-color: var(--react-color);
}

@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .projects-list {
    /* display: flex; */
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-list--item {
    min-width: 100px;
  }
}
