.skills-container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.skills-list{
  display: flex;
  gap: 40px;
  overflow: auto;
  width: 90vw;
  justify-content: center;
}

.skills-list--item{
  display: flex;
  gap: 40px;
}
.skills-list--item > img{
  width: 60px;
  height: 60px;
}

@media (max-width:520px) {
  .skills-list{
    justify-content: flex-start;
  }
}
