* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
}

.skills-container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.skills-list{
  display: flex;
  gap: 40px;
  overflow: auto;
  width: 90vw;
  justify-content: center;
}

.skills-list--item{
  display: flex;
  gap: 40px;
  position: relative;
  align-items: center;
}
.skills-list--item > img{
  width: 60px;
  height: 60px;
  z-index: 10;
  transition:  2s;
}

.skills-list--item >img:hover{
  z-index: 0;
  transform: rotateY(170deg);
  transition:  2s;
}

.skills-list--item > div{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: var(--background-color);
  font-weight: 900;
  font-size: 1rem;
}

.skills-list--item > div:hover{
  display: flex;
  background-color: aliceblue;
  border-radius: 3px;
}



@media (max-width:520px) {
  .skills-list{
    justify-content: flex-start;
  }
}
