.skills-container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
  align-items: center;
  padding-top: 100px;
}

.skills-list{
  display: flex;
  gap: 40px;
  overflow: auto;
  width: 90vw;
  justify-content: center;
}

.skills-list--item{
  display: flex;
  gap: 40px;
  position: relative;
  align-items: center;
}
.skills-list--item > img{
  width: 60px;
  height: 60px;
  z-index: 10;
  transition:  2s;
}

@media (max-width:520px) {
  .skills-list{
    justify-content: flex-start;
  }
}
